
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><h3>Angular - GraphQL</h3></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="card border-secondary mb-3" style="margin-left: 300px; max-width: 40rem; margin-bottom: 100px; padding:30px; margin-top: 100px; margin-bottom: 300px;">
  <div class=" join-container ">
    <header class="join-header" style="color: #32fbe2;">
      <h1>Sign In</h1>
      <div *ngIf="message?.length">
        <div style="font-weight: bold; color: 'red';">{{message}}</div>
      </div>
    </header>
    <main class="join-main">
      <form>

        <div class="form-group">
          <label style="color: #32fbe2;" for="username">Username</label>
          <input
           #username
            class="form-control"
            type="text"
            name="username"
            id="username"
            placeholder="Enter username..."
            required
          />

        </div>

        <div class="form-group">
          <label style="color: #32fbe2;" for="username">Password</label>
          <input
            #password
            class="form-control"
            type="password"
            name="password"
            id="password"
            placeholder="Enter password..."
            required

          />

        </div>



        <button type="button" class="btn btn-outline-secondary" style="color: #32fbe2; margin-top: 30px;" (click) = "signIn(username.value, password.value)" >Log In</button>
      <div style="margin-top: 10px;"> Don't have an account ?<a href="/" style="margin-left: 10px;color: #32fbe2;">Sign Up 😊</a></div>
      </form>
    </main>
  </div>
</div>

