
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><h3>Angular - GraphQL</h3></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="card border-secondary mb-3" style="margin-left: 300px; max-width: 40rem; margin-bottom: 100px; padding:30px; margin-top: 100px; margin-bottom: 300px;">
  <div class=" join-container ">
    <header class="join-header" style="color: #32fbe2;">
      <h1>Add Listing Booking</h1>
      <div *ngIf="message?.length">
        <div style="font-weight: bold; color: 'red';">{{message}}</div>
      </div>
    </header>
    <main class="join-main">
      <form>

        <div class="form-group">
          <label style="color: #32fbe2;" for="listing_id">Listing Id</label>
          <input
           #listing_id
            class="form-control"
            type="text"
            placeholder="Enter listing id..."
            required
          />

        </div>

        <div class="form-group">
          <label style="color: #32fbe2;" for="listing_title">Listing title</label>
          <input
            #listing_title
            class="form-control"
            type="text"
            placeholder="Enter listing title..."
            required

          />
        </div>


        <div class="form-group">
          <label style="color: #32fbe2;" for="description">Description</label>
          <input
            #description
            class="form-control"
            type="text"
            required

          />
        </div>



        <div class="form-group">
          <label style="color: #32fbe2;" for="street">Street</label>
          <input
            #street
            class="form-control"
            type="text"
            required

          />
        </div>



        <div class="form-group">
          <label style="color: #32fbe2;" for="city">City</label>
          <input
            #city
            class="form-control"
            type="text"
            required

          />
        </div>


        <div class="form-group">
          <label style="color: #32fbe2;" for="postal_code">Postal Code</label>
          <input
            #postal_code
            class="form-control"
            type="text"
            required

          />
        </div>

        <div class="form-group">
          <label style="color: #32fbe2;" for="price">Price</label>
          <input
            #price
            class="form-control"
            type="text"
            required

          />
        </div>


        <div class="form-group">
          <label style="color: #32fbe2;" for="email">Email</label>
          <input
            #email
            class="form-control"
            type="text"
            required

          />
        </div>



        <div class="row">
          <button type="button" class="btn btn-outline-secondary" style="color: #32fbe2; margin-top: 30px;" (click) = "addListing(
            listing_id.value,
            listing_title.value,
            description.value,
            street.value,
            city.value,
            postal_code.value,
            price.value,
            email.value)" >Add</button>

            <button type="button" class="btn btn-outline-secondary" style="color: #32fbe2; margin-top: 30px;" (click)="goBack()" >Cancel</button>
        </div>
      </form>
    </main>
  </div>
</div>

